* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: black;
  user-select: none;
}
body::-webkit-scrollbar {
  width: 0%;
  color: black;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: rgb(59, 59, 59);
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 4px;
}

a {
  color: inherit;
  text-decoration: none;
}

.slick-slide div {
  outline: none;
}

.slick-track {
  display: flex !important;
  align-items: center;
}

.slick-slide {
  height: inherit !important;
}

img {
  -webkit-user-drag: none;
}

::-moz-selection {
  color: white;
  background: #601eec;
  text-shadow: none;
}
::selection {
  color: white;
  background: #601eec;
  text-shadow: none;
}
